<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CuongDepTrai</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    Hello chill guy
    <div>
      <img class="cuongdeptrai" src="/images/cuongdeptrai.png" />
    </div>
  </body>
</html>
